.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
